body{
  /*background-image: url(../img/gray_sand_lighter.png);*/
  /*background-image: url(../img/space.jpg);*/

  /*background-color: blue;*/

  /*background-repeat:repeat;*/
  /*background: linear-gradient(silver, black);*/
}

#label {
padding-right: 20px;
}

.heading {
margin-bottom: 5px;
}

.title {
margin-top: 5px;
}

#plot {
padding-top: 10px;
}


div.tooltip {
    position: absolute;
    text-align: center;
    width: 500px;
    height: 28px;
    padding: 2px;
    font: 16px sans-serif;
    /*background: #A0A0A0;*/
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}